<center>
<h1> New Reservation </h1>

<%= render 'form' %>

<br>

<%= link_to "HOME INDEX", reservations_path %> <br>
<%= link_to "GET AN EMAIL", reports_write_email_path %><br>
<%= link_to "FRONT PAGE DASHBOARD", root_path %>
</center>
