<h1>Dashboards#index</h1>
<p>Find me in app/views/dashboards/index.html.erb</p>
<br>
<%= link_to "SEND AN EMAIL", reports_write_email_path %><br>
<%= link_to "HOME INDEX", reservations_path %> <br>
<br>
<%= link_to "NEW RESERVATION", new_reservation_path %> <br>
<%= link_to "FRONT PAGE DASHBOARD", root_path %>
